@model DemoViewModel

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Modal">
                    <div class="form-group">
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-save="modal">Submit</button>
            </div>

        </div>
    </div>
</div>