@{
    ViewData["Title"] = "Home Page";
}

<partial name="_ModalDialogPlaceHolder"></partial>

<button class="btn btn-primary" data-toggle="modal-dialog" data-url="@Url.Action("Modal")">Show Modal</button>
